.title-banner {
  background-color: rgb(0, 82, 0);
  color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  font-size: 45px;
}

.main-search {
  margin-top: 3px;
}

.main-search-button {
  margin-top: 3px;
}

.appButton {
  color: whitesmoke;
  border: none;
  background-color: rgb(0, 82, 0);
}

.appButton:hover {
  background-color: rgb(0, 138, 0);
}

.appButton:active {
  background-color: rgb(0, 63, 0);
}

.appButton::selection {
  background-color: rgb(0, 82, 0);
}

.listButton {
  color: whitesmoke;
  margin-top:auto;
  margin-bottom:auto;
  height: 50px;
  width: 20px;
  border: none;
  background-color: rgb(201, 54, 54);
}

.listButton:hover {
  background-color: rgb(236, 68, 68);
}

ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

.shopitem {
  margin-top: 10px;
}