.title-banner {
  background-color: rgb(0, 82, 0);
  color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  font-size: 45px;
}

.main-search {
  margin-top: 15px;
}

.main-search-button {
  margin-top: 15px;
}

button {
  color: whitesmoke;
  border: none;
  background-color: rgb(0, 82, 0);
}

button:hover {
  color: whitesmoke;
  background-color: rgb(0, 138, 0);
}

button:active {
  color: whitesmoke;
  background-color: rgb(0, 63, 0);
}

button::selection {
  color: whitesmoke;
  background-color: rgb(0, 82, 0);
}

/* I have added this just so i can see what im doing feel free to change all the styling*/
/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}
/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
